<%= render "shared/header" %>

<div id="artwork-index-background-image">

<div class="page-title">ARTWORKS</div>

<div class="grid">
  <% if @artworks.present? %>
    <% @artworks.each do |artwork| %>
      <div class="artwork"> 
    
      <%= link_to image_tag(artwork.image, class: "artwork-img"), artwork_path(artwork.id) if artwork.image.attached? %>

      <p class="property">title: <span class="bold"><%= artwork.title %></span></p>
      <p class="property">¥ <span class="bold"><%= artwork.price %></span></p>
      <p class="property">favorite: <span class="bold"><%= Favorite.where(artwork_id: artwork.id).count %></span></p>
      <% if nil != Order.find_by(artwork_id: artwork.id)%>
        <div class="content-non">Sold Out!!</div>
      <% end %>
      </div>
    <% end %>
  <% else %>
    <div class="content-non">アートワークが登録されていません。</div>
  <% end %>
</div>

</div>

<%= render "shared/footer" %>